@import "../../../styles/variables.scss";

.container {
  padding: 19px 100px;
  height: 100vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr;
  align-items: center;
  gap: 1rem;
}

.row {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  margin: 1rem;

  .trophyIcon {
    margin-right: 0.5rem;
    color: #e2ae29;
  }

  h2 {
    color: #fff;
    font-size: 16px;
    margin: 0;
  }
}

.start_button {
  background: linear-gradient(
    90deg,
    rgba(227, 57, 125, 1) 35%,
    rgba(252, 95, 70, 1) 100%
  );
  color: $text-color;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  padding: 20px;
  font-size: large;
  border-radius: 10px;
  border: 0;
  cursor: pointer;

  &:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
  }
}

.topPaneRight {
  // Styles for the topPaneRight if needed
}
