@import "../../../styles/variables.scss";

.container {
  padding: 10px 100px;
  height: 100vh;
}

.UpperGridContainer {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5px;
}

.row {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  margin: 1rem;

  .trophyIcon {
    margin-right: 0.5rem;
    color: #e2ae29;
  }

  h2 {
    color: #fff;
    font-size: 16px;
    margin: 0;
  }
}

.start_button {
  background: linear-gradient(
    90deg,
    rgba(227, 57, 125, 1) 35%,
    rgba(252, 95, 70, 1) 100%
  );
  color: $text-color;
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  /* font-size: large; */
  border-radius: 9px;
  border: 0;
  width: 86%;
  margin-bottom: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;

  &:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
  }
}

.LowerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
  width: 100%;
}
