@import "../../../../styles/variables.scss";

.chartContainer {
  padding: 20px;
  width: unset !important;
  height: 454px !important;
  background-color: #232a39;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
