@import "../../../../styles//variables.scss";

.header {
  display: flex;
  align-items: center;
  margin: 1rem;

  .trophyIcon {
    margin-right: 0.5rem;
    color: #e2ae29;
  }

  h2 {
    color: #fff;
    font-size: 16px;
    margin: 0;
  }
}

.tableContainer {
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  background-color: #1e1e1e;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background-color: #333;
    color: #fff;
  }

  .background1 {
    background-color: #282c34;
  }

  .background2 {
    background-color: #20232a;
  }

  .highlightRow {
    background-color: #91908e;
    color: #000;
  }

  .username {
    width: 60%;
  }
}
