$background-color: #151a22;
$text-color: #fff;
$button-background: #ff6b6b;
$button-hover-background: #ff4949;
$inputDiv: linear-gradient(90deg, #181c23 100%, #202631 100%);
$input-background: #101417;
$header-background: #141414;
$border-radius: 10px;
$input-border: #ccc;
