$background-color: #151a22;
$text-color: #fff;
$button-background: #ff6b6b;
$button-hover-background: #ff4949;
$inputDiv: linear-gradient(89deg, rgb(26 34 51) 0%, rgb(36 44 58) 99%);
$input-background: #101417;
$header-background: #141414;
$border-radius: 10px;
$input-border: #ccc;
