@import "../../../../../styles/variables.scss";

.tableContainer {
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  background-color: #1e1e1e;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background-color: #0f1417;
    color: #f0f0f0;
  }

  .background1 {
    background-color: #1b222c;
  }

  .background2 {
    background-color: #262d39;
  }

  .highlightRow {
    background-color: #485062;
    color: #000;
  }

  .username {
    width: 60%;
    font-size: 1rem;
    font-weight: bold;
  }
}
