@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./variables";


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  color: $text-color;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}
