// CurrentRound.module.scss
@import "../../../../../styles/variables.scss";

.currentRoundContainer {
  margin-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0;
  }
}

.tableContainer {
  border-radius: 10px;
  overflow: hidden;
  background-color: #1e1e1e;
  margin-bottom: 1.3rem;
}

.table {
  width: 100%;
  border-collapse: collapse;


  th,
  td {
    padding: 0.75rem;
    text-align: center;
    font-size: 1rem;
  }

  th {
    background-color: #0f1417;
    color: #f0f0f0;
  }

  .background1 {
    background-color: #1b222c;
  }

  .background2 {
    background-color: #262d39;
  }

  .highlightRow {
    background-color: #485062;
    color: #000;
  }

  .username {
    // width: 60%;
    font-size: 1rem;
    font-weight: bold;
  }
}
