@import "../../../styles/variables.scss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 50px;
}

.UpperGridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 1rem;
  margin-bottom: 15px;
  width: 100%; 
}

.centerContent {
  display: flex;
  flex-direction: column;
}

.gameHeaderAndChart {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 1.1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;

  .trophyIcon, .speedIcon {
    margin-right: 0.5rem;
    color: #e2ae29;
    font-size: 1.5rem;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0;
  }
}

.start_button {
  background: linear-gradient(
    90deg,
    rgba(227, 57, 125, 1) 35%,
    rgba(252, 95, 70, 1) 100%
  );
  color: $text-color;
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  border-radius: 9px;
  border: 0;
  margin: 1rem 0;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
  }
}

.LowerGridContainer {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  align-items: start;
  gap: 1rem;
  width: 100%;
  margin-top: 5px;
}
