@import "../../../../styles/variables.scss";

// .rankingContainer {
//   // padding: 0 1rem;
//   // margin-bottom: 30px;
// }

.header {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  .trophyIcon {
    margin-right: 0.5rem;
    color: #e2ae29;
    font-size: 1.5rem;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0;
  }
}

// .tableContainer {
//   margin-top: 1rem;
//   border-radius: 10px;
//   overflow-y: auto;
//   background-color: #bc8585;
// }

.table {
  width: 51vw;
  border-collapse: collapse;
  border-radius: 9px;

  thead {
    background: linear-gradient(90deg, #181c23 100%, #202631 100%);
  }

  th,
  td {
    padding: 0.75rem;
    text-align: left;
    font-size: 1rem;
  }

  th {
    color: #fff;
  }

  .background1 {
    background-color: #262d39;
  }

  .background2 {
    background-color: #1b222c;
  }

  .highlightRow {
    background-color: #495063;
    color: #000;
  }
}
