@import "../../../../styles/variables.scss";

.chartContainer {
  padding: 20px;
  width: 94% !important;
  height: 513px !important;
  background-color: #232a39;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #3c404d;;
}
